@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='file'] {
  display: none;
}

.landing-wrapper {
  display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('/images/portada-sindicato.jpeg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  color: white;
}
